body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.header {
  background-color: #7fc3c5;
  color: white;
  text-align: center;
  padding: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  background-color: #555555;
  color: white;
  text-align: center;
  padding: 10px;
}

.btn-section {
  background-color: #5e9ea0;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-section:hover {
  background-color: #555555;
}

.btn-section.selected {
  background-color: #555555; /* Hovered color for the selected button */
  color: white; /* Text color for the selected button */
}

.header h1 {
  margin: 0;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with offset and blur */
  padding: 15px;
}

.logo{
  width: 200px;
  height: 100px;
}

.logo-container-outer{
  border: 1px solid blue;
}

.logo-container-inner{
  border: 1px solid red;
  display: flex;
}
